@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <form asp-action="post" class="row g-2">
        <input asp-for="Message" />
        <br />
        <input type="submit" />
    </form>

</div>
